@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">User Quick Add</h5>
                    @*                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <i class="fas window-close"></i>
                        </button>
                    *@
                </div>
                <div class="modal-body edit-form">

                    <EditForm Model="@User" OnValidSubmit="@HandleValidSubmit">

                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-floating">
                            <input type="text" class="form-control textbox-alone" id="inputUsername" placeholder="Username" @bind="User.Username" />
                            <label for="inputUsername">Username:</label>
                            <ValidationMessage For="@(() => User.Username)" />
                        </div>

                        <div class="form-floating">
                            <input type="text" class="form-control textbox-alone" id="inputLastName" placeholder="LastName" @bind="User.LastName" />
                            <label for="inputLastName">Last name:</label>
                            <ValidationMessage For="@(() => User.LastName)" />
                        </div>

                        <div class="form-floating">
                            <input type="text" class="form-control textbox-alone" id="inputFirstName" placeholder="FirstName" @bind="User.FirstName" />
                            <label for="inputFirstName">First name:</label>
                            <ValidationMessage For="@(() => User.FirstName)" />
                        </div>

                        <div class="form-floating">
                            <input type="email" class="form-control textbox-alone" id="inputEmail" placeholder="E-mail" @bind="User.Email" />
                            <label for="inputEmail">E-mail:</label>
                            <ValidationMessage For="@(() => User.Email)" />
                        </div>

                        <div class="form-floating">
                            <input type="password" class="form-control textbox-alone" id="inputPassword" placeholder="Password" @bind="User.Password" />
                            <label for="inputPassword">Password:</label>
                            <ValidationMessage For="@(() => User.Password)" />
                        </div>

                        <div class="form-floating">
                            <input type="text" class="form-control textbox-alone" id="inputCompany" placeholder="Company" @bind="User.Company" />
                            <label for="inputCompany">Company:</label>
                            <ValidationMessage For="@(() => User.Company)" />
                        </div>

                        <h6 for="inputRoles" class="mt-3">Roles:</h6>

                        <div class="form-floating mb-3">
                            <div class="list-group">
                                @foreach (var role in Roles)
                                {
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="@role.RoleName" @onchange="@((e) => RolesChanged(e, @role.RoleName))">
                                        @role.RoleName
                                    </label>
                                }
                            </div>
                        </div>




                        <h6 class="card-title mt-3">Avatar</h6>


                        <div class="mt-3 mb-3">
                            <InputFile OnChange="OnInputFileChange" single />

                            <div class="mt-3 mb-3">
                                <img src="@thumbnail" class="card-img-bottom avatar" style="border:1px solid #CCCCAA" />
                            </div>
                        </div>



                        <div class="d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-primary me-1">Save User</button>
                            <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                        </div>

                    </EditForm>

                </div>
            </div>
        </div>
    </div>
}