@page "/users/edit"
@page "/users/edit/{Username}"


@if (!Saved)
{
    <section class="user-edit">
        <h1 class="display-6">Details for @User.FirstName @User.LastName</h1>
        <EditForm Model="@User" OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary></ValidationSummary>


            <div class="form-floating">
                <input @ref="UserNameInput" type="text" class="form-control textbox-alone" id="inputUsername" placeholder="Username" @bind="User.Username" />
                <label for="inputUsername">Username:</label>
                <ValidationMessage For="@(() => User.Username)" />
            </div>

            <div class="form-floating">
                <input type="text" class="form-control textbox-alone" id="inputLastName" placeholder="LastName" @bind="User.LastName" />
                <label for="inputLastName">LastName:</label>
                <ValidationMessage For="@(() => User.LastName)" />
            </div>

            <div class="form-floating">
                <input type="text" class="form-control textbox-alone" id="inputFirstName" placeholder="FirstName" @bind="User.FirstName" />
                <label for="inputFirstName">FirstName:</label>
                <ValidationMessage For="@(() => User.FirstName)" />
            </div>

            <div class="form-floating">
                <input type="email" class="form-control textbox-alone" id="inputEmail" placeholder="E-mail" @bind="User.Email" />
                <label for="inputEmail">E-mail:</label>
                <ValidationMessage For="@(() => User.Email)" />
            </div>

            <div class="form-floating">
                <input type="text" class="form-control textbox-alone" id="inputCompany" placeholder="Company" @bind="User.Company" />
                <label for="inputCompany">Company:</label>
                <ValidationMessage For="@(() => User.Company)" />
            </div>

            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">Avatar</h5>
                    <InputFile OnChange="OnInputFileChange" single />
                </div>

                <div class="px-3">
                    <img src="@thumbnail" class="card-img-bottom mb-3" style="border:1px solid #CCCCAA" />
                </div>
            </div>





            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary edit-btn me-1">Save user</button>

                @if (string.IsNullOrEmpty(User.Id))
                {
                    <a class="btn btn-danger" @onclick="@DeleteUser">
                        Delete
                    </a>
                }

                <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>
            </div>

        </EditForm>
    </section>

}
else
{
    <div class="alert @StatusClass">@Message</div>
}