@if (ShowDialog)
{
    <div class="modal fade show d-block rodjo" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="profile-nav">
                    <div class="panel">
                        <div class="user-heading">
                            <a href="#">
                                <img src="@thumbnail" alt="">
                            </a>

                            @if (User != null)
                            {
                                <div class="section_heading text-center wow fadeInUp">
                                    <h3><span>@User.FirstName </span> @User.LastName</h3>
                                    <p>@User.Email</p>
                                </div>
                            }

                        </div>

                        <div class="d-flex justify-content-center mt-3 mb-3">
                            <div>
                                <a class="btn btn-secondary position-relative m-0" @onclick="@EditProfile"> <i class="fa fa-user"></i> Edit Profile</a>
                            </div>

                            <a class="btn btn-secondary position-relative" @onclick="@OpenMessages"> <i class="fa fa-calendar"></i> Messages <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">9</span></a>
                        </div>

                        <div class="d-flex justify-content-center pb-3">
                            <div class="m-0">
                                <a class="btn btn-outline-warning m-0" @onclick="@Close">Close</a>
                                @*<a class="btn btn-outline-danger" @onclick="@Logout">Sign out</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <EditProfileDialog @ref="FormEditProfile" CurrentUser="User" CloseEventCallback="@ChangeUserProfile_OnDialogClose"></EditProfileDialog>
}